@import './../../../sass/variables';

.build-controls {
    color: $color-white;
    display: flex;
    flex-flow: column wrap;
    height: 90%;
    align-items: center;
    justify-content: center;
    margin-right: 20rem;
}