@import './../../sass/variables';
@import './../../sass/mixins';

.examples {
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    @include respond(phone) {
    }
}