@import '../../sass/variables';
@import '../../sass/mixins';

.authentication {
    margin: 2rem auto;
    width: 55rem;
    text-align: center;
    box-shadow: 0 2px 3px $color-black;
    border: 1px solid $color-black;
    border-radius: 1rem;
    padding: 1rem;
    background-color: $color-alternative;
    color: $color-white;

    &__title {
        font-size: 2rem;
        letter-spacing: .3rem;
        font-weight: 500;
    }

    @include respond(phone) {
        width: 92%;
    }
}