@import './sass/variables';
@import './sass/mixins';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-weight: 400;
    letter-spacing: .1rem;

    @include respond(big-desktop) {
        font-size: 75%;
    }

    @include respond(tab-land) {
        font-size: 56.25%;
    }

    @include respond(tab-port) {
        font-size: 50%;
    }
}


body {
  box-sizing: border-box;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color: $color-background;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

::selection {
    background-color: rgba($color-white, .8);
    color: black;
}

.content {
    max-width: 120rem;
    margin: 0 auto;
}

.btn {
    padding: 1rem;
    border-radius: .5rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: 600;
    color: $color-white;
    border: none;
    margin: .3rem;
    cursor: pointer;
    
    &:focus {
        outline: none;
        border: 1px solid $color-white;

    }

    &--less {
        background-color: $color-danger;
    }
    &--more {
        background-color: $color-success;
    }
    &--order {
        background-color: $color-success;
        font-size: 1.6rem;
        min-width: 20rem;
    }
    &--reset {
        background-color: $color-danger;
        font-size: 1.6rem;
    }

    &:disabled {
        background-color: gray;
        cursor: not-allowed;
    }
}